<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  
</head>

<body>
  <div id="app"></div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>

</html>
