@import "../../../node_modules/bulma/bulma.sass";

$main-color: #639C63;
body {
    padding: 0;
    margin: 0;
}
html,body,#app { min-height: 100vh; }
button:focus {
    outline: none;
}
header {
    border-bottom: 1px solid #dbdbdb;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: $main-color;

    h1 {
        padding: 0;
        margin: 0;
        font-size: 2em;
        color: white;
    }
    .main-menu {
        padding: 10px 15px;
        font-size: 15px;
        background-color: white;
        border-radius: 5;
        a {
            color: black;
        }
        &:hover {
            cursor: pointer;
            
            a {
                color: black;
            }
        }

    }

    a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
        background-color: $main-color;
        color: white;
    }

}
.mainWindow {
    display: flex;
    flex-direction: row;
    .main-content {
        flex: 1;
    }
}
.row {
    display: flex;
    flex-direction: row;
    //align-items: center;
    justify-content: space-between;
    & > * {
        margin: 0 10px;
    }
    margin-bottom: 3px;
    
}
.requestSection {
    padding: 15px;

    .toggleButton {
        height: 20px;
        display: flex;
        flex-direction : row;
        justify-content: flex-end;
        align-items: center;
        
        button {
            background-color: white;
            border: none;
            color: blue;
        }
    }

    .column-header {
        padding: 0 10px;
    }

    .with-times{
        margin-right: 0;
    }
    .row{
        a {
            line-height: 20px;
        }
        .centered{
            margin-top: 10px;
            color: black;
        }
    }
    
}

.visualization-section {
    margin: 10px;

    .tab-nav {
        margin: 0;
        li:first-child a {
            border-radius: 4px 0 0 0;
        }
        li:last-child a {
            border-radius: 0 4px 0 0;
        }
    }

    .data-field{
        border: 1px solid #dbdbdb;
        //min-height: 100%;
        margin: -1px 10px;
        pre {
            overflow: hidden;
        }
    }
    .search-input {
        max-width: 200px;
    }
    .tool-bar {
        display: flex;
        flex-direction: row;
        & > * {
            margin-left: 5px;
        }
    }
    .row {
        margin-bottom: 0;
        .centered{
            margin-top: 10px;
            color: black;
        }
    }
    .data-path-input{
        margin: 10px;
        width: 40%;
    }
}
 .dropdown-trigger, .dropdown-button {
    width: 150px;
    display: flex;
    justify-content: space-between;
 }

 .add-button {
     margin: 0 10px;
 }

table {
    margin: 5px;
    td, th {
        padding: 5px;
    }
}

.highlight {
    background-color: yellow;
}

.left-panel{
    min-height: 100vh;
    width: 250px;
    padding: 5px;
    border-right: 1px solid #dbdbdb;

    .history-item {
        border-bottom: 1px solid #dbdbdb;
        padding: 10px; 
        &:hover {
            background-color: whitesmoke;
        }

        .history-title{
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
        }
        .tooltip {
            z-index: 10;
            display: block;
        }
    }
}

a {
    &.borderless-button {
        color: black;
        &:hover {
           color: #B8B8B8;
        }
    }
}

.errorMessage {
    font-size: 10px;
    color: red;
}

.successMessage {
    font-size: 10px;
    color: green;
}

.login-column {
    & > div {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        & > * {
            margin: 10px auto;
        }
    }
}

.pre-code {
    background-color: white;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a {
    &.button {
        background-color: $main-color;
        color: white;
    }
}

.tabs.is-toggle li.is-active a{
    background-color: $main-color;
    border-color: $main-color;
    color: white;
}

.button.is-success{
    background-color: $main-color;
}

.json-item {
    padding: 10px 5px;
    display: block;
    color:black;
    &:hover {
        background-color: whitesmoke;
    }
}

.icon-centered{

        margin-top: 15px;
        color: black;

}




